
/* general style */

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1, h2, h3, h4, h5, p {
    font-family: Helvetica , sans-serif;
    font-size: 22px;
    color: rgb(212, 212, 212);
    opacity: 0.8;
    font-weight: bold;
}

h1 {
    font-size: 2.4em;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    
}

a:hover {
    color: rgb(97, 97, 97);
    
}


header {
    display: block;
}


/* navigation bar */

.nav-bar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 1px solid seashell;
    position:fixed;
    background-color: black;
    z-index: 99;

}

#logo {
    height: 50px;
    margin: 10px;
}

#main-nav {
    display: inline-flex;
    justify-content: space-around;
    flex-basis: 380px;
}

.hero {
    padding-top: 50px;
    height:700px;
    max-width: 1200px;
    margin: auto;
    background: url(../img/img-mission-background.webp) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    

}

.our-mission{
    width:100%;
    background: black;
    text-align: center;
  
}

/* Tea of the month */

.featured-tea {
    max-width: 1200px;
    margin: auto;

}

.intro {
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-two {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto 100px;
}


.card {
    text-align: center;
    margin: 0 10px 20px 10px;
    width:300px;
}

.card > img {
    max-width:300px;
    margin-bottom: -15px;
}

/* locations */

.locations h1, h2, h3, p {
    opacity: 1;
}

.locations{
    max-width: 1200px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    background: url(../img/img-locations-background.webp) top center no-repeat;
    background-size: cover;
}



.location {
    margin:  20px;
    background: black;
    line-height: 2;
}


/* footer */
footer{
    text-align: center;
}

footer a {
    text-decoration: none;
}

#copy{
    text-align: left;
    margin:30px 20px;
}


/* note: cards has same styling as in 'tea of the month' section */
